<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login</title>
    </head>
    <body>

        <h3>Super secret hacker kitten forum login</h3>


        <form action="#" th:action="@{/login}" method="POST">
            <p><label for="username">Username</label>: <input type="text" name="username" id="username"/></p>
            <p><label for="password">Password</label>: <input type="password" name="password" id="password"/></p>
            <p><input type="submit" value="Login" /></p>
        </form>

        <p><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.tenor.com%2Fimages%2Fd338396c0aa02100f67a0418b972162f%2Ftenor.gif"></img></p>
    </body>
</html>

<style>
body {
  background-color: WhiteSmoke;
  text-align: center;
}

input[type=submit] {
    width: 20em;  height: 2em;
}

</style>